.carousel {
  margin-top: 2.5rem;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.carousel-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.carousel-pagination {
  margin-top: 2.5rem;
}

.carousel-pagination-end {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex: 1 1 auto;
  margin-left: auto;
  margin-right: auto;
}

.carousel-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.pagination-tabs {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.pagination-tabs button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.pagination-tab {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  background-color: rgb(203, 213, 225);
  border-radius: 0.25rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 70px;
  height: 10px;
  border: 1px solid rgb(175, 181, 189);
}

.pagination-tab:hover {
  transform: scale(1.1);
}

.pagination-tab .active {
  height: 100%;
  background-color: rgb(100, 116, 139);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.data-card {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  cursor: pointer;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.data-card .image {
  width: 250px;
  height: 250px;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  border-radius: 0.25rem;
  overflow: hidden;
  object-fit: cover;
}

.data-card .title {
  font-weight: 700;
  margin-top: 10px;
}

.data-card .category {
  font-weight: 400;
  color: rgb(100, 116, 139);
}

.data-card .description {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.data-card:hover {
  transform: scale(1.05);
}

@media (min-width: 640px) {
  .carousel-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .carousel-pagination-end {
    display: none;
  }

  .data-card .description {
    min-height: 100px;
  }
}

@media (min-width: 768px) {
  .carousel {
    flex-direction: row;
  }

  .carousel-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .carousel-pagination {
    margin-left: auto;
    margin-top: 0;
  }

  .data-card {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .carousel-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1380px) {
  .carousel-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
